<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset=utf-8>
<title>New/node.js</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="header">
<div class="header__logo">Node.Js News</div>
<div class="header__search">Search</div>
</header>

<div class="wrapper">
    <div class="news">

      <%  if(articles!=null){ %> 
        <% articles.forEach(function(article,index){ %>
          <a href="#" class="news__card">
            <% if(article.thumbnail_url==false)  {%> 
<% article.thumbnail_url="https://j2v9w7i9.stackpathcdn.com/wp-content/uploads/2021/11/learn-elementor.jpg" %> 
<img src="<%- article.thumbnail_url  %> " alt="">

<% } else {%> 
            <img src="<%- article.thumbnail_url  %> " alt="">
            <% } %> 
            <h2><%- article.title.rendered %> </h2>
            <p><%- article.excerpt.rendered  %> </p>
          </a>
            
            <% }) %>
            <% }else{ %>
              No posts Found
              <% } %>  
    </div>
   
</div>
</body>
</html