<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset=utf-8>
<title>New/node.js</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<% articles.forEach(function(article,index){ %>
<% article.title.rendered %> 
<% }) %>
</body>
</html